minimalmodbus
transformers
sentence-transformers
llama-index-vector-stores-milvus
llama-index==0.10.52
llama-index-embeddings-huggingface
pymilvus
accelerate
datasets
xformers
trl
peft
bitsandbytes
git+https://github.com/unslothai/unsloth.git
openai==1.39.0
